html {
    background: #fff;
}
.cc-gh .navbar-brand h1 {
    margin: 10px 30px;
    padding-left: 60px;
    color: #fff;
}
.cc-gh {
    background-color: transparent;
}
.cc-gf {
    margin-top: 55px;
    font-size: 14px;
    font-family: 'brandon', 'bebas', 'myriad pro', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}
#billboard-mobile {
    display: none;
}
.mobile-only {
    display: none;
}
#billboard {
    position: relative;
    top: -200px;
    width: 100%;
    color: #fff;
    margin-bottom: 50px;
}
.billboard-container .billboard-image {
    width: 100%;
    max-height: 980px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.billboard-container .billboard-image img {
    width: 100%;
    min-width: 1770px;
}
.billboard-container > .billboard-image > .carousel {
    height: 960px;
}
.billboard-container .billboard-content {
    margin-top: 520px;
}
.billboard-container .billboard-content h1 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 52px;
}
.billboard-container .billboard-content p {
    font: italic 18px "Georgia", serif;
}
@media (max-width: 769px) {
    .billboard-content h1,
    .billboard-content p {
        color: #121212 !important;
    }
    #billboard {
        top: 0;
    }
    #billboard .carousel {
        display: none;
        visibility: hidden;
        height: 0;
    }
    .billboard-container .billboard-content {
        margin-top: 0px;
    }
    .mobile-only {
        display: block;
    }
    .mobile-gallery {
        padding: 0;
    }
    #billboard-g-slider {
        display: none;
    }
    #home-gallery,
    #billboard-mobile {
        display: block;
        margin: 0 !important;
        width: 100%;
    }
    .pull-top #billboard-mobile {
        margin-top: 150px !important;
    }
}
.cc-gh {
    z-index: 5555;
}
#home-gallery {
    margin: 30px;
}
#billboard-g-slider img,
#home-gallery img {
    width: 100%;
}
.carousel-control {
    color: orange !important;
}
.pull-top {
    margin-top: -50px;
}