html, body {
    font-family: "myriad pro", "helvetica neue", "helvetica", "lucida grande", "lucida sans unicode", "tahoma", sans-serif;
    line-height: 1.8em;
    font-size: 18px;
    color: #121212;
    -webkit-font-smoothing: antialiased;
    background: transparent;
}
html {
    background: url('/resources/global/images/dark_wood/dark_wood.png') repeat;
}
body {
    background: #fff;
}
a, a:link,
a:visited,
a:active {
    color: #aa6435;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #e4a953;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "bebas", sans-serif;
}
p {
    font-family: "myriad pro", "helvetica neue", "helvetica", "lucida grande", "lucida sans unicode", "tahoma", sans-serif;
}