.title h1 {
    text-align: center;
    padding: 35px 0;
}
.title {
    margin-bottom: 35px;
    text-align: center;
}

.title.error h1 {
	font-size: 240px;
}
.title.error p {
	font-size: 22px;
}

#google_translate_element {
	float: right;
}
#billboard {
	top: -250px !important;
}