.cc-gh {
    margin-top: -20px;
    background-color: #fff;
    font-weight: 400;
    font-family: 'bebas', 'helvetica', 'myriad pro', sans-serif;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    letter-spacing: .14em;
    padding-top: 120px;
}
.cc-gh .navbar-brand, .cc-gh .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.cc-gh .navbar-brand {
    background: url('/resources/global/images/logo/brand-logo.png') no-repeat;
    background-size: 120px auto;
    padding: 80px 60px;
    margin-top: -80px;
}
.cc-gh .navbar-brand h1 {
    margin: 10px 30px;
    padding-left: 60px;
    color: #121212;
}
.cc-gh .navbar-brand:hover {
    color: #e4a953;
}
.cc-gh .navbar-nav > li > a {
    color: #aa6435 !important;
    padding: 20px 20px;
}
.cc-gh .navbar-nav > .active > a, .cc-gh .navbar-nav > .active > a:hover {
    background: transparent;
}
.cc-gh .navbar-right {
    background: rgba(255,255,255,.5);
}


.cc-gh .navbar-nav > li > a:hover, .cc-gh .navbar-nav .open > a:focus, .navbar-default .navbar-nav > .open > a {
    color: #e4a953;
}
.cc-gh .navbar-nav .open > a:focus, .navbar-default .navbar-nav > .open > a {
    background-color: #c8e1eb;
}
.cc-gh .navbar-toggle {
    margin: 15px;
}
.cc-gh .navbar-toggle .icon-bar {
    background-color: #e4a953;
}
.cc-gh .navbar-header .navbar-toggle {
    border-color: #fff;
}
.cc-gh .navbar-header .navbar-toggle:hover, .cc-gh .navbar-header .navbar-toggle:focus {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
.cc-gh .dropdown-menu {
    border-color: #f9f9f9;
}
.cc-gh .dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #aa6435;
}
.cc-gh .dropdown-menu > li:hover > a {
    background-color: #c8e1eb;
    color: #e4a953;
}
.cc-gf {
    margin-top: 55px;
    font-size: 14px;
    font-family: 'brandon', 'bebas', 'myriad pro', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    background: url('/resources/global/images/dark_wood/dark_wood.png') repeat;
}
.cc-gf ._l {
    /*background-color: #1e1e1e;*/
    padding: 50px 0;
}
.cc-gf ._d {
    /*background-color: #121212;*/
    color: #676767;
    padding: 15px 0;
    font-size: 10px;
    letter-spacing: .14em;
}
.cc-gf .list-inline {
    margin: 0;
}
.cc-gf .list-inline > li > a {
    border-right: 1px solid #888;
    padding: 0 15px;
    color: #999;
}
.cc-gf .list-inline > li > a:first-child {
    padding-left: 0px;
}
.cc-gf .list-inline > li > a:last-child {
    border-right: 0;
}
.cc-gf > ._l ul,
.cc-gf > ._l ul > li > a,
.cc-gf > ._l ul > li {
    list-style: none;
    color: #fff;
    line-height: 36px;
    letter-spacing: .32em;
    padding-left: 0;
}
.cc-gf > ._l ul > li:hover > a {
    text-decoration: none;
    border-bottom: 1px solid #e4a953;
}







@media (max-width: 769px) {
    .cc-gf ._d .text-right,
    .cc-gf ._d .list-inline li {
        text-align: left;
        display: block;
        padding: 15px 0 !important;
    }
    .cc-gf ._d .text-right {
        text-align: center;
    }
    .cc-gh {
        background-color: #fff;
    }
    .call {
        border: 3px solid #000 !important;
        padding: 8px 11px;
    }
    .cc-gh .navbar-brand {
        background-position: left 7px;
        background-size: 35px auto;
        padding: 20px;
        margin-top: 0;
    }
    .cc-gh {
        background-color: #fff;
        padding: 0 15px;
    }
}

@media (max-width: 1200px) {
    .cc-gh .navbar-brand h1 {
        position: absolute;
        text-indent: -9999px;
    }
}